.sidebar-menu {
    position: fixed;
    inset: 0;
    display: flex;
    padding: 10px;
    margin-left: 80px;
    margin-top: 20px;
    width: 100%;
    z-index: 100;
    &.hidden {
      display: none;
    }
  
    .menu-content {
      width: 50%;
    //   height: 100%;
      background: white;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .close-button {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      color: #4a4a4a;
      &:hover {
        color: black;
      }
    }
  
    .menu-nav {
      padding-left: 1rem;
    }
  
    .menu-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #007bff;
      margin-bottom: 1rem;
    }
  
    .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        font-size: 1.125rem;
        color: #333;
        margin-bottom: 0.5rem;
      }
  
      
    }
  
    .menu-footer {
      margin-top: 1.5rem;
      font-weight: 600;
      color: #888;
  
      p {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
    }
  
    .image-container {
      width: 50%;
      position: relative;
    }
  }
  