.heder {
  width: 100%;
}

.heder1 {
  width: 100%;
}

.hm1 {
  margin-left: 25%;
  margin-top: 40px;
}
.hm1 {
  .qsd1 {
    color: #9a999b;
  }
}
.hm1 a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.hm2 {
  margin-left: 25%;
  margin-top: 50px;
}

.hm2 p {
  width: 60%;
}

.about11 {
  position: relative;
}

.about1 {
  position: absolute !important;
  z-index: -1 !important;
  width: 80% !important;
  margin-top: 0px !important;
}

.about2 {
  position: relative;
  z-index: 1;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.about3 {
  display: flex;
  width: 70%;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f5f5f5;
  border-radius: 160px 0 0 0;
}

.about4 {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 90%;
  margin-right: 3%;
  margin-left: 5%;
}

.about4 h2 {
  font-size: 38px;
}

.about4 p {
  margin-top: 20px;
}

.about4 a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.about3 img {
  clip-path: polygon(
    10% 0%,
    100% 0%,
    100% 10%,
    100% 100%,
    100% 100%,
    0% 100%,
    0% 90%,
    0% 15%
  ) !important;
}

.about22 .about3 img {
  clip-path: polygon(
    0% 0%,
    90% 0%,
    100% 10%,
    100% 100%,
    100% 100%,
    0% 100%,
    0% 90%,
    0% 15%
  ) !important;
}

.abouut11 {
  z-index: 1;
  margin-top: 250px;
  height: 250px;
  .abouut12 {
  

    .abouut13 {
      background: #F5F5F7;
      display: flex;
      margin-top: 45px;
      height: 250px;
      flex-direction: column;
      align-items: center;
    
      .abouut14{
        width: 50%;
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
      }
      .abouut15{
        width: 50%;
        text-align: center;
      }
    }
    .abouut16{
        width: 50%;
        margin-top:-80px;
        margin-left: 25%;
    }
  }
}

